<% var pageClass = "archive-category"; %>
    <% include layout/_head %>
        <% include layout/_header %>

            <div class="wrapper">
                <!-- start contents -->
                <div class="contents">
                    <div class="contents-inner">
                        <main class="main">
                            <section>
                                <h1 class="heading-primary">・・・category</h1>
                                <article class="m-media">
                                    <div class="">
                                        <a href="#">
                                            <img src="http://placehold.it/140x100" height="100" width="140" alt="" class="media-image">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <div class="media-category">
                                            <a href="#">News</a>
                                        </div>
                                        <time>2019-3-15</time>
                                        <h1 class="media-heading">Message Board</h1>
                                        <div class="media-writer">
                                            <div class="media-writerImage">X</div>
                                            <div class="media-writerName">XXXX XXXX</div>
                                            <a href="#"></a>
                                        </div>
                                        <div class="media-viewCount">999</div>
                                    </div>
                                </article>
                                <div class="">
                                    View More
                                </div>
                                <div class="pagenation">

                                </div>
                            </section>
                        </main>
                    </div>
                </div>
            </div>
            <!-- end contents -->

            <% include layout/_footer %>
                <% include layout/_script %>
