<% var pageClass = "page-index"; %>
    <% include layout/_head %>
        <% include layout/_header %>

        <!-- start contents -->
        <div class="contents">
            <div class="contents-inner">
                <main class="main">
                    <section>
                        <h1 class="heading-A">Feed</h1>
                        <article class="media">
                            <div class="media-body">
                                <div class="media-image-wrapper">
                                <a href="#"><div class="media-image" style="background-image: url('../images/keyvisual-sample.jpg');"></div></a>
                                </div>
                                <div class="media-text">
                                    <time>2019-3-15</time>
                                    <div class="media-category">
                                        <a href="#">News</a>
                                    </div>
                                    <a href="#"><h1 class="media-heading">ななせまるが卒業してしまった件について語る</h1></a>
                                    <div class="media-writer">
                                        <div class="media-writer-image"></div>
                                        <div class="media-writer-name">さっこ</div>
                                        <a href="#"></a>
                                    </div>
                                    <div class="media-preview">999</div>
                                </div>
                            </div>
                        </article>
                        <article class="media">
                            <div class="media-body">
                                <div class="media-image-wrapper">
                                <a href="#"><div class="media-image" style="background-image: url('../images/keyvisual-sample.jpg');"></div></a>
                                </div>
                                <div class="media-text">
                                    <time>2019-3-15</time>
                                    <div class="media-category">
                                        <a href="#">News</a>
                                    </div>
                                    <a href="#"><h1 class="media-heading">ななせまるが卒業してしまった件について語る</h1></a>
                                    <div class="media-writer">
                                        <div class="media-writer-image"></div>
                                        <div class="media-writer-name">さっこ</div>
                                        <a href="#"></a>
                                    </div>
                                    <div class="media-preview">999</div>
                                </div>
                            </div>
                        </article>
                        <article class="media">
                            <div class="media-body">
                                <div class="media-image-wrapper">
                                <a href="#"><div class="media-image" style="background-image: url('../images/keyvisual-sample.jpg');"></div></a>
                                </div>
                                <div class="media-text">
                                    <time>2019-3-15</time>
                                    <div class="media-category">
                                        <a href="#">News</a>
                                    </div>
                                    <a href="#"><h1 class="media-heading">ななせまるが卒業してしまった件について語る</h1></a>
                                    <div class="media-writer">
                                        <div class="media-writer-image"></div>
                                        <div class="media-writer-name">さっこ</div>
                                        <a href="#"></a>
                                    </div>
                                    <div class="media-preview">999</div>
                                </div>
                            </div>
                        </article>
                        <div class="pagenation">

                        </div>
                    </section>
                </main>
            </div>
        </div>
        </div>
            <!-- end contents -->

            <% include layout/_footer %>
                <% include layout/_script %>
