<% var pageClass = "home"; %>
    <% include layout/_head %>
        <% include layout/_header %>

            <div class="key-visual">
                <div class="key-visual-inner">
                    <div class="key-visual-message">
                        Who is your Yome?
                    </div>
                    <div class="key-visual-about button-A">
                        <a href="#">About dolki</a>
                    </div>
                </div>
            </div>
            <!-- start contents -->
            <div class="contents">
                <div class="contents-inner">
                    <main class="main">
                        <section>
                            <h1 class="heading-A">New Feed</h1>
                            <article class="media">
                                <div class="media-body">
                                    <div class="media-image-wrapper">
                                    <a href="#"><div class="media-image" style="background-image: url('../images/keyvisual-sample.jpg');"></div></a>
                                    </div>
                                    <div class="media-text">
                                        <time>2019-3-15</time>
                                        <div class="media-category">
                                            <a href="#">News</a>
                                        </div>
                                        <a href="#"><h1 class="media-heading">ななせまるが卒業してしまった件について語る</h1></a>
                                        <div class="media-writer">
                                            <div class="media-writer-image"></div>
                                            <div class="media-writer-name">さっこ</div>
                                            <a href="#"></a>
                                        </div>
                                        <div class="media-preview">999</div>
                                    </div>
                                </div>
                            </article>
                            <article class="media">
                                <div class="media-body">
                                    <div class="media-image-wrapper">
                                    <a href="#"><div class="media-image" style="background-image: url('../images/keyvisual-sample.jpg');"></div></a>
                                    </div>
                                    <div class="media-text">
                                        <time>2019-3-15</time>
                                        <div class="media-category">
                                            <a href="#">News</a>
                                        </div>
                                        <a href="#"><h1 class="media-heading">ななせまるが卒業してしまった件について語る</h1></a>
                                        <div class="media-writer">
                                            <div class="media-writer-image"></div>
                                            <div class="media-writer-name">さっこ</div>
                                            <a href="#"></a>
                                        </div>
                                        <div class="media-preview">999</div>
                                    </div>
                                </div>
                            </article>
                            <article class="media">
                                <div class="media-body">
                                    <div class="media-image-wrapper">
                                    <a href="#"><div class="media-image" style="background-image: url('../images/keyvisual-sample.jpg');"></div></a>
                                    </div>
                                    <div class="media-text">
                                        <time>2019-3-15</time>
                                        <div class="media-category">
                                            <a href="#">News</a>
                                        </div>
                                        <a href="#"><h1 class="media-heading">ななせまるが卒業してしまった件について語る</h1></a>
                                        <div class="media-writer">
                                            <div class="media-writer-image"></div>
                                            <div class="media-writer-name">さっこ</div>
                                            <a href="#"></a>
                                        </div>
                                        <div class="media-preview">999</div>
                                    </div>
                                </div>
                            </article>
                            <div class="button-B">
                                View More
                            </div>
                        </section>
                        <section>
                            <h1 class="heading-A">Ranking</h1>
                            <article class="media-s">
                                <div class="media-s-rank">
                                    1
                                </div>
                                <div class="media-s-body">
                                    <div class="media-s-image-wrapper">
                                    <a href="#"><div class="media-s-image" style="background-image: url('../images/keyvisual-sample.jpg');"></div></a>
                                    </div>
                                    <div class="media-s-text">
                                        <a href="#"><h1 class="media-s-heading">ななせまるが卒業してしまった件について語る</h1></a>
                                        <div class="media-s-preview">999</div>
                                    </div>
                                </div>
                            </article>
                            <article class="media-s">
                                <div class="media-s-rank">
                                    1
                                </div>
                                <div class="media-s-body">
                                    <div class="media-s-image-wrapper">
                                    <a href="#"><div class="media-s-image" style="background-image: url('../images/keyvisual-sample.jpg');"></div></a>
                                    </div>
                                    <div class="media-s-text">
                                        <a href="#"><h1 class="media-s-heading">ななせまるが卒業してしまった件について語る</h1></a>
                                        <div class="media-s-preview">999</div>
                                    </div>
                                </div>

                            </article>
                            <article class="media-s">
                                <div class="media-s-rank">
                                    1
                                </div>
                                <div class="media-s-body">
                                    <div class="media-s-image-wrapper">
                                    <a href="#"><div class="media-s-image" style="background-image: url('../images/keyvisual-sample.jpg');"></div></a>
                                    </div>
                                    <div class="media-s-text">
                                        <a href="#"><h1 class="media-s-heading">ななせまるが卒業してしまった件について語る</h1></a>
                                        <div class="media-s-preview">999</div>
                                    </div>
                                </div>
                            </article>

                        </section>
                    </main>
                </div>
            </div>
            </div>
            <% include layout/_footer %>
                <% include layout/_script %>
