<% var pageClass = "page-writer"; %>
    <% include layout/_head %>
        <% include layout/_header %>
                <!-- start contents -->
                <div class="contents">
                    <div class="contents-inner">
                        <main class="main">
                            <section class="writer">
                                <h1 class="heading-A">Writer</h1>
                                <div class="writer-box">
                                    <ul>
                                        <li class="writer-item">
                                            <a href="page-writer-01.html" class="writer-item-above">
                                                <div class="writer-image">

                                                </div>
                                            </a>
                                            <a href="page-writer-01.html" class="writer-item-bottom">
                                                さっこ
                                            </a>
                                        </li>
                                        <li class="writer-item">
                                            <a href="page-writer-01.html" class="writer-item-above">
                                                <div class="writer-image">

                                                </div>
                                            </a>
                                            <a href="page-writer-01.html" class="writer-item-bottom">
                                                さっこ
                                            </a>
                                        </li>
                                        <li class="writer-item">
                                            <a href="#" class="writer-item-above">
                                                <div class="writer-image">

                                                </div>
                                            </a>
                                            <a href="#" class="writer-item-bottom">
                                                さっこ
                                            </a>
                                        </li>


                                    </ul>
                                </div>
                            </section>
                        </main>
                    </div>
                </div>
            <!-- end contents -->

            <% include layout/_footer %>
                <% include layout/_script %>
