<% var pageClass = "page-writer"; %>
    <% include layout/_head %>
        <% include layout/_header %>
                <!-- start contents -->
                <div class="contents">
                    <div class="contents-inner">
                            <main class="main">
                                <div class="main-left">
                                    <section>
                                        <div class="profile">
                                            <div class="profile-image">
                                            </div>
                                            <h1 class="profile-name">さっこ</h1>
                                            <p class="profile-discription">
                                                dolkiはアイドルに関連する情報をお届けする。メディアです。 地上、地下、声優、アイドルとつくものにアンテナを貼り、記事にしていきます。 最新ニュースの他、コラムやライブレポート、オタク必須アイテムなど様々なコンテンストを展開していきます。
                                            </p>
                                        </div>
                                    </section>
                                    <section>
                                        <h1 class="heading-A">Feed</h1>
                                        <article class="media">
                                            <div class="media-body">
                                                <div class="media-image-wrapper">
                                                <a href="#"><div class="media-image" style="background-image: url('../images/keyvisual-sample.jpg');"></div></a>
                                                </div>
                                                <div class="media-text">
                                                    <time>2019-3-15</time>
                                                    <div class="media-category">
                                                        <a href="#">News</a>
                                                    </div>
                                                    <a href="#"><h1 class="media-heading">ななせまるが卒業してしまった件について語る</h1></a>
                                                    <div class="media-writer">
                                                        <div class="media-writer-image"></div>
                                                        <div class="media-writer-name">さっこ</div>
                                                        <a href="#"></a>
                                                    </div>
                                                    <div class="media-preview">999</div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="media">
                                            <div class="media-body">
                                                <div class="media-image-wrapper">
                                                <a href="#"><div class="media-image" style="background-image: url('../images/keyvisual-sample.jpg');"></div></a>
                                                </div>
                                                <div class="media-text">
                                                    <time>2019-3-15</time>
                                                    <div class="media-category">
                                                        <a href="#">News</a>
                                                    </div>
                                                    <a href="#"><h1 class="media-heading">ななせまるが卒業してしまった件について語る</h1></a>
                                                    <div class="media-writer">
                                                        <div class="media-writer-image"></div>
                                                        <div class="media-writer-name">さっこ</div>
                                                        <a href="#"></a>
                                                    </div>
                                                    <div class="media-preview">999</div>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="media">
                                            <div class="media-body">
                                                <div class="media-image-wrapper">
                                                <a href="#"><div class="media-image" style="background-image: url('../images/keyvisual-sample.jpg');"></div></a>
                                                </div>
                                                <div class="media-text">
                                                    <time>2019-3-15</time>
                                                    <div class="media-category">
                                                        <a href="#">News</a>
                                                    </div>
                                                    <a href="#"><h1 class="media-heading">ななせまるが卒業してしまった件について語る</h1></a>
                                                    <div class="media-writer">
                                                        <div class="media-writer-image"></div>
                                                        <div class="media-writer-name">さっこ</div>
                                                        <a href="#"></a>
                                                    </div>
                                                    <div class="media-preview">999</div>
                                                </div>
                                            </div>
                                        </article>
                                    </section>
                                </div>

                                <div class="main-right">
                                    <section>
                                        <div class="writer-dtl card-A">
                                            <div class="card-A-box">
                                                <i class="card-A-icon"></i>
                                                <h2 class="card-A-heading">SNS</h2>
                                                <div class="snsicons">
                                                    <div class="snsicons-wrapper">
                                                        <div class="snsicons-item">
                                                            <a href="#"><img src="../images/icon-instagram.svg" alt=""></a>
                                                        </div>
                                                        <div class="snsicons-item">
                                                            <a href="#" class="snsicons-item-right"><img src="../images/icon-twitter.svg" alt=""></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section>
                                        <div class="writer-dtl card-A">
                                            <div class="card-A-box">
                                                <i class="card-A-icon"></i>
                                                <h2 class="card-A-heading">Tags</h2>
                                                <ul>
                                                    <li>#西野七瀬</li>
                                                    <li>#乃木坂46</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </section>
                                    <section>
                                        <div class="writer-dtl card-A">
                                            <div class="card-A-box">
                                                <i class="card-A-icon"></i>
                                                <h2 class="card-A-heading">Career</h2>
                                            </div>
                                        </div>
                                    </section>
                                </div>



                            </main>
                    </div>
                </div>

            <!-- end contents -->

            <% include layout/_footer %>
                <% include layout/_script %>
