<% var pageClass = "page-about"; %>
    <% include layout/_head %>
        <% include layout/_header %>
                <!-- start contents -->
                <div class="contents">
                    <div class="contents-inner">
                        <main class="main">
                            <section class="about">
                                <h1 class="heading-A">About</h1>
                                <div class="about-box">
                                    <div class="about-logo">
                                        <img src="../images/dolki-logo.svg" alt="">
                                    </div>
                                    <p>
                                        dolkiはアイドルに関連する情報をお届けする。メディアです。
                                        地上、地下、声優、アイドルとつくものにアンテナを貼り、記事にしていきます。
                                        最新ニュースの他、コラムやライブレポート、オタク必須アイテムなど様々なコンテンストを展開していきます。
                                    </p>
                                    <div class="about-sosial snsicons">
                                        <div class="snsicons-wrapper">
                                            <div class="snsicons-item">
                                                <a href="#"><img src="../images/icon-instagram.svg" alt=""></a>
                                            </div>
                                            <div class="snsicons-item">
                                                <a href="#" class="snsicons-item-right"><img src="../images/icon-twitter.svg" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </section>
                        </main>
                    </div>
                </div>
            <!-- end contents -->

            <% include layout/_footer %>
                <% include layout/_script %>
