<% var pageClass = "single"; %>
    <% include layout/_head %>
        <% include layout/_header %>
            <!-- start contents -->
            <div class="contents">
                <div class="contents-inner">
                    <main class="main">
                        <section>
                            <article class="article">
                                <div class="article-header">
                                    <div class="article-header-wrapper">
                                        <time>2019-3-15</time>
                                        <div class="article-category">
                                            <a href="#">News</a>
                                        </div>
                                        <h1 class="article-heading">ななせまるが卒業してしまった件について語る</h1>
                                        <div class="article-writer">
                                            <div class="article-writer-image"></div>
                                            <div class="article-writer-name">さっこ</div>
                                            <a href="#"></a>
                                        </div>
                                        <div class="article-preview">999</div>
                                    </div>
                                    <div class="article-headertext">
                                        <p>ななせまるが卒業してしまった。この先どうすれば元気でいられるか。見当もつかない。参った。そんなあなたに・・・</p>
                                    </div>
                                    <div class="article-share">
                                        <section class="social-share">
                                            <i class="icon-share"></i>
                                            <h2 class="icon-share-heading">Share</h2>
                                            <ul>
                                                <li class="social-share-twitter">
                                                    <a href="http://twitter.com/share?url=" onclick="ga('send', 'event', 'article', 'sns_share', 'twitter');" target="_blank" rel="nofollow"><i class="icon-twitter"></i></a>
                                                </li>
                                                <li class="social-share-facebook">
                                                    <a class="fb btn" href="https://www.facebook.com/share.php?u=" onclick="ga('send', 'event', 'article', 'sns_share', 'facebook');window.open(this.href, 'FBwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;" rel="nofollow"><i class="icon-facebook"></i></a>
                                                </li>
                                                <li class="social-share-hatena">
                                                    <a href="http://b.hatena.ne.jp/entry/https%3A%2F%2Fwired.jp%2F2019%2F03%2F15%2Fthenorthface-futurelight-ws%2F" class="hatena-bookmark-button" data-hatena-bookmark-title="" data-hatena-bookmark-layout="simple" title="このエントリーをはてなブックマークに追加" rel="nofollow"
                                                        data-hatena-bookmark-initialized="1"><i class="icon-hatena"></i></a>
                                                </li>
                                                <li class="social-share-pocket">
                                                    <a href="http://getpocket.com/edit?url=" target="_blank" rel="nofollow"><i class="icon-pocket" onclick="ga('send', 'event', 'article', 'sns_share', 'pocket');"></i></a>
                                                </li>
                                            </ul>
                                        </section>
                                    </div>
                                    <div class="article-image-wrapper">
                                        <a href="#">
                                            <img src="../images/keyvisual-sample.jpg" alt="" class="article-image">
                                        </a>
                                        <p class="ref">公式サイトより</p>
                                    </div>
                                </div>
                                <div class="article-body">
                                    <h2>見出しかgさhlkhがhfdさうhふぉ；さhどさ</h2>
                                    <p>親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。 なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。 新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。
                                    </p>
                                    <p>親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。 なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。 新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。
                                    </p>
                                    <p>親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。 なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。 新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。
                                    </p>
                                </div>
                                <div class="article-share">
                                    <section class="social-share">
                                        <i class="icon-share"></i>
                                        <h2 class="icon-share-heading">Share</h2>
                                        <ul>
                                            <li class="social-share-twitter">
                                                <a href="http://twitter.com/share?url=" onclick="ga('send', 'event', 'article', 'sns_share', 'twitter');" target="_blank" rel="nofollow"><i class="icon-twitter"></i></a>
                                            </li>
                                            <li class="social-share-facebook">
                                                <a class="fb btn" href="https://www.facebook.com/share.php?u=" onclick="ga('send', 'event', 'article', 'sns_share', 'facebook');window.open(this.href, 'FBwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;" rel="nofollow"><i class="icon-facebook"></i></a>
                                            </li>
                                            <li class="social-share-hatena">
                                                <a href="http://b.hatena.ne.jp/entry/https%3A%2F%2Fwired.jp%2F2019%2F03%2F15%2Fthenorthface-futurelight-ws%2F" class="hatena-bookmark-button" data-hatena-bookmark-title="" data-hatena-bookmark-layout="simple" title="このエントリーをはてなブックマークに追加" rel="nofollow"
                                                    data-hatena-bookmark-initialized="1"><i class="icon-hatena"></i></a>
                                            </li>
                                            <li class="social-share-pocket">
                                                <a href="http://getpocket.com/edit?url=" target="_blank" rel="nofollow"><i class="icon-pocket" onclick="ga('send', 'event', 'article', 'sns_share', 'pocket');"></i></a>
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                                <div class="article-tag card-A">
                                    <div class="card-A-box">
                                        <i class="card-A-icon"></i>
                                        <h2 class="card-A-heading">Tags</h2>
                                        <ul>
                                            <li>#西野七瀬</li>
                                            <li>#乃木坂46</li>
                                        </ul>
                                    </div>
                                </div>
                            </article>
                        </section>
                        <section class="feed">
                            <h1 class="heading-A">Feed</h1>
                            <article class="media">
                                <div class="media-body">
                                    <div class="media-image-wrapper">
                                        <a href="#">
                                            <div class="media-image" style="background-image: url('../images/keyvisual-sample.jpg');"></div>
                                        </a>
                                    </div>
                                    <div class="media-text">
                                        <time>2019-3-15</time>
                                        <div class="media-category">
                                            <a href="#">News</a>
                                        </div>
                                        <a href="#"><h1 class="media-heading">ななせまるが卒業してしまった件について語る</h1></a>
                                        <div class="media-writer">
                                            <div class="media-writer-image"></div>
                                            <div class="media-writer-name">さっこ</div>
                                            <a href="#"></a>
                                        </div>
                                        <div class="media-preview">999</div>
                                    </div>
                                </div>
                            </article>
                            <article class="media">
                                <div class="media-body">
                                    <div class="media-image-wrapper">
                                        <a href="#">
                                            <div class="media-image" style="background-image: url('../images/keyvisual-sample.jpg');"></div>
                                        </a>
                                    </div>
                                    <div class="media-text">
                                        <time>2019-3-15</time>
                                        <div class="media-category">
                                            <a href="#">News</a>
                                        </div>
                                        <a href="#"><h1 class="media-heading">ななせまるが卒業してしまった件について語る</h1></a>
                                        <div class="media-writer">
                                            <div class="media-writer-image"></div>
                                            <div class="media-writer-name">さっこ</div>
                                            <a href="#"></a>
                                        </div>
                                        <div class="media-preview">999</div>
                                    </div>
                                </div>
                            </article>
                            <article class="media">
                                <div class="media-body">
                                    <div class="media-image-wrapper">
                                        <a href="#">
                                            <div class="media-image" style="background-image: url('../images/keyvisual-sample.jpg');"></div>
                                        </a>
                                    </div>
                                    <div class="media-text">
                                        <time>2019-3-15</time>
                                        <div class="media-category">
                                            <a href="#">News</a>
                                        </div>
                                        <a href="#"><h1 class="media-heading">ななせまるが卒業してしまった件について語る</h1></a>
                                        <div class="media-writer">
                                            <div class="media-writer-image"></div>
                                            <div class="media-writer-name">さっこ</div>
                                            <a href="#"></a>
                                        </div>
                                        <div class="media-preview">999</div>
                                    </div>
                                </div>
                            </article>
                            <div class="pagenation">

                            </div>
                        </section>
                    </main>
                </div>
            </div>
            <!-- end contents -->

            <% include layout/_footer %>
                <% include layout/_script %>
