<div class="pagetop js-pagetop">
    <a href="#top" class="button-pagetop">PAGE TOP</a>
</div>
<footer class="footer">
    <div class="footer-inner">
        <div class="footer-nav">
            <nav>
                <div class="footer-nav-body footer-nav-left">
                    <div class="footer-nav-headding">
                        Feed
                    </div>
                    <ul>
                        <li><a href="feed.html">All</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Column</a></li>
                        <li><a href="#">Report</a></li>
                    </ul>
                </div>

                <div class="footer-nav-body footer-nav-right">
                    <div class="footer-nav-headding">
                        Information
                    </div>
                    <ul>
                        <li><a href="page-about.html">About</a></li>
                        <li><a href="page-writer.html">Writer</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="footer-information">
            <div class="footer-logo">
                <img src="../images/dolki-logotext.svg" alt="">
            </div>
            <p class="sp-footer-hidden">
                dolkiはアイドルに関連する情報をお届けする。メディアです。 地上、地下、声優、アイドルとつくものにアンテナを貼り、記事にしていきます。
            </p>
            <div class="footer-sosial snsicons">
                <div class="snsicons-wrapper">
                    <div class="snsicons-item">
                        <a href="#"><img src="../images/icon-instagram.svg" alt=""></a>
                    </div>
                    <div class="snsicons-item">
                        <a href="#" class="snsicons-item-right"><img src="../images/icon-twitter.svg" alt=""></a>
                    </div>
                </div>
            </div>
            <p class="copy">&copy; 2019 dolki</p>
        </div>
</footer>
