    <body class="<%= pageClass %>" id="top">
            <header class="header">
                <div class="header-inner">
                <div class="header-logo">
                    <img src="../images/dolki-logotext.svg" alt="">
                </div>
                <div class="header-grobalnav sp-header-grobalnav">
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Feed</a></li>
                        <li><a href="#">Writer</a></li>
                    </ul>
                </div>
                <div class="hamburgerContainer">
                    <div class="hamburger">
                        <div class="circle"></div>
                        <div class="menuIcon">
                            <span class="border border1"></span>
                            <span class="border border2"></span>
                            <span class="border border3"></span>
                        </div>

                    </div>
                </div>
                <div class="header-sosial snsicons">
                    <div class="snsicons-wrapper">
                        <div class="snsicons-item">
                            <a href="#"><img src="../images/icon-instagram.svg" alt=""></a>
                        </div>
                        <div class="snsicons-item">
                            <a href="#" class="snsicons-item-right"><img src="../images/icon-twitter.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                </div>
            </header>
            <div class="sp-hamburger-is-open">
                <div class="hamburger-contents">
                    <div class="hamburger-nav">
                        <nav>
                            <div class="hamburger-nav-body hamburger-nav-left">
                                <div class="hamburger-nav-headding">
                                    Feed
                                </div>
                                <ul>
                                    <li><a href="feed.html">All</a></li>
                                    <li><a href="">News</a></li>
                                    <li><a href="#">Column</a></li>
                                    <li><a href="#">Report</a></li>
                                    <li><a href="#">Tips</a></li>
                                </ul>
                            </div>

                            <div class="hamburger-nav-body hamburger-nav-right">
                                <div class="hamburger-nav-headding">
                                    Information
                                </div>
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="page-about.html">About</a></li>
                                    <li><a href="page-writer.html">Writer</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>

                    <div class="hamburger-information">
                        <!-- <div class="hamburger-logo">
                            <img src="../images/dolki-logotext.svg" alt="">
                        </div> -->
                        <div class="hamburger-sosial snsicons">
                            <div class="snsicons-wrapper">
                                <div class="snsicons-item">
                                    <a href="#"><img src="../images/icon-instagram.svg" alt=""></a>
                                </div>
                                <div class="snsicons-item">
                                    <a href="#" class="snsicons-item-right"><img src="../images/icon-twitter.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <!-- <p class="hamburger-copy">&copy; 2019 dolki</p> -->
                    </div>
                </div>
            </div>
