.pagetop {
    margin: 50px 0 30px;
}

.footer {
    // width: 100%;
    border-top: 1px solid $color-white;
    &-inner {
        // width: $size_max;
        margin: 0 5% 40px;
        text-align: center;
    }

    &-nav {
        margin-bottom: 50px;
        @extend %clearfix;
        &-body {
            width: 48%;
            text-align: left;
        }
        &-left {
            float: left;
        }
        &-right {
            float: right;
        }
        &-headding {
            font-size: 1.4rem;
            font-weight: bold;
            margin: 30px 0 20px;
            padding-bottom: 15px;
            border-bottom: 1px solid $color-accent;
        }
        li {
            margin-bottom: 15px;
            color: $color-gray;
            a {
                color: inherit;
            }
        }
    }
    &-information {
        position: relative;
        height: 80px;
    }
    &-logo {
        position: absolute;
        width: 100px;
        bottom: 30px;
    }

    &-sosial {
        position: absolute;
        right: 0;
        bottom: 0;

    }
    .copy {
        position: absolute;
        bottom: 0;
        text-align: left;
        font-size: 1rem;
    }
    .sp-footer-hidden {
        display: none;
    }
}
