*{
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
	min-height: 100%;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, 'Roboto', YuGothic, 游ゴシック, 'Noto Sans JP', Verdana, Meiryo, "M+ 1p", sans-serif;
	font-size: 1.2rem;
	line-height: 1.8;
	background: #F5F5F5;
	letter-spacing: 0.1rem;
}
