// clum width
$gutter: 0;
$size_max: 1366px;
$size_min: 320px;

// scale (sprite生成で使用)
$default-scale:1;

// color
$color-base: #F5F5F5;
$color-accent: #FF6767;
$color-white: #FFF;
$color-black: #000;
$color-gray: #999999;
