@charset "UTF-8";
/*
* base
*/
.hamburger-nav, .footer-inner, .footer-nav, .media-writer, .media-s-body, .snsicons-wrapper, .home .feed-wrapper, .home .feed-inner-wrapper, .home .ranking-wrapper, .blog .feed-inner-wrapper,
.category .feed-inner-wrapper,
.tag .feed-inner-wrapper, .page-id-10 .main,
.page-id-12 .main,
.page-id-14 .main, .page-id-10 .writer-box,
.page-id-12 .writer-box,
.page-id-14 .writer-box, .page-id-10 .ranking-wrapper,
.page-id-12 .ranking-wrapper,
.page-id-14 .ranking-wrapper, .page-id-10 .career-item,
.page-id-12 .career-item,
.page-id-14 .career-item, .single .main, .single .article-inner-wrapper, .single .article-writer, .single .feed, .single .ranking-wrapper {
  zoom: 1; }
  .hamburger-nav:before, .footer-inner:before, .footer-nav:before, .media-writer:before, .media-s-body:before, .snsicons-wrapper:before, .home .feed-wrapper:before, .home .feed-inner-wrapper:before, .home .ranking-wrapper:before, .blog .feed-inner-wrapper:before,
  .category .feed-inner-wrapper:before,
  .tag .feed-inner-wrapper:before, .page-id-10 .main:before,
  .page-id-12 .main:before,
  .page-id-14 .main:before, .page-id-10 .writer-box:before,
  .page-id-12 .writer-box:before,
  .page-id-14 .writer-box:before, .page-id-10 .ranking-wrapper:before,
  .page-id-12 .ranking-wrapper:before,
  .page-id-14 .ranking-wrapper:before, .page-id-10 .career-item:before,
  .page-id-12 .career-item:before,
  .page-id-14 .career-item:before, .single .main:before, .single .article-inner-wrapper:before, .single .article-writer:before, .single .feed:before, .single .ranking-wrapper:before, .hamburger-nav:after, .footer-inner:after, .footer-nav:after, .media-writer:after, .media-s-body:after, .snsicons-wrapper:after, .home .feed-wrapper:after, .home .feed-inner-wrapper:after, .home .ranking-wrapper:after, .blog .feed-inner-wrapper:after,
  .category .feed-inner-wrapper:after,
  .tag .feed-inner-wrapper:after, .page-id-10 .main:after,
  .page-id-12 .main:after,
  .page-id-14 .main:after, .page-id-10 .writer-box:after,
  .page-id-12 .writer-box:after,
  .page-id-14 .writer-box:after, .page-id-10 .ranking-wrapper:after,
  .page-id-12 .ranking-wrapper:after,
  .page-id-14 .ranking-wrapper:after, .page-id-10 .career-item:after,
  .page-id-12 .career-item:after,
  .page-id-14 .career-item:after, .single .main:after, .single .article-inner-wrapper:after, .single .article-writer:after, .single .feed:after, .single .ranking-wrapper:after {
    content: "";
    display: block; }
  .hamburger-nav:after, .footer-inner:after, .footer-nav:after, .media-writer:after, .media-s-body:after, .snsicons-wrapper:after, .home .feed-wrapper:after, .home .feed-inner-wrapper:after, .home .ranking-wrapper:after, .blog .feed-inner-wrapper:after,
  .category .feed-inner-wrapper:after,
  .tag .feed-inner-wrapper:after, .page-id-10 .main:after,
  .page-id-12 .main:after,
  .page-id-14 .main:after, .page-id-10 .writer-box:after,
  .page-id-12 .writer-box:after,
  .page-id-14 .writer-box:after, .page-id-10 .ranking-wrapper:after,
  .page-id-12 .ranking-wrapper:after,
  .page-id-14 .ranking-wrapper:after, .page-id-10 .career-item:after,
  .page-id-12 .career-item:after,
  .page-id-14 .career-item:after, .single .main:after, .single .article-inner-wrapper:after, .single .article-writer:after, .single .feed:after, .single .ranking-wrapper:after {
    clear: both; }

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  line-height: 1;
  word-break: normal; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  vertical-align: baseline;
  background: transparent; }

img {
  vertical-align: bottom; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section, div, address, iframe, canvas, hr, textarea {
  display: block;
  line-height: 1; }

iframe {
  max-width: 100% !important; }

a, label {
  cursor: pointer; }

blockquote {
  padding: 0;
  margin: 0;
  display: block; }

address, em {
  font-style: normal; }

hr {
  border: 0;
  margin: 0;
  padding: 0; }

ul, ol, li {
  list-style: none; }

textarea {
  resize: vertical;
  overflow: hidden;
  -webkit-appearance: none;
  border: none; }

input, button, select {
  vertical-align: middle;
  border-radius: 0px;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-appearance: none; }

table {
  border-collapse: collapse; }

a {
  text-decoration: none;
  color: #000; }

*:before,
*:after {
  padding: 0;
  margin: 0;
  line-height: 1; }

.u-mt0 {
  margin-top: 0px !important; }

.u-mr0 {
  margin-right: 0px !important; }

.u-mb0 {
  margin-bottom: 0px !important; }

.u-ml0 {
  margin-left: 0px !important; }

.u-pt0 {
  padding-top: 0px !important; }

.u-pr0 {
  padding-right: 0px !important; }

.u-pb0 {
  padding-bottom: 0px !important; }

.u-pl0 {
  padding-left: 0px !important; }

.u-mt5 {
  margin-top: 5px !important; }

.u-mr5 {
  margin-right: 5px !important; }

.u-mb5 {
  margin-bottom: 5px !important; }

.u-ml5 {
  margin-left: 5px !important; }

.u-pt5 {
  padding-top: 5px !important; }

.u-pr5 {
  padding-right: 5px !important; }

.u-pb5 {
  padding-bottom: 5px !important; }

.u-pl5 {
  padding-left: 5px !important; }

.u-mt10 {
  margin-top: 10px !important; }

.u-mr10 {
  margin-right: 10px !important; }

.u-mb10 {
  margin-bottom: 10px !important; }

.u-ml10 {
  margin-left: 10px !important; }

.u-pt10 {
  padding-top: 10px !important; }

.u-pr10 {
  padding-right: 10px !important; }

.u-pb10 {
  padding-bottom: 10px !important; }

.u-pl10 {
  padding-left: 10px !important; }

.u-mt15 {
  margin-top: 15px !important; }

.u-mr15 {
  margin-right: 15px !important; }

.u-mb15 {
  margin-bottom: 15px !important; }

.u-ml15 {
  margin-left: 15px !important; }

.u-pt15 {
  padding-top: 15px !important; }

.u-pr15 {
  padding-right: 15px !important; }

.u-pb15 {
  padding-bottom: 15px !important; }

.u-pl15 {
  padding-left: 15px !important; }

.u-mt20 {
  margin-top: 20px !important; }

.u-mr20 {
  margin-right: 20px !important; }

.u-mb20 {
  margin-bottom: 20px !important; }

.u-ml20 {
  margin-left: 20px !important; }

.u-pt20 {
  padding-top: 20px !important; }

.u-pr20 {
  padding-right: 20px !important; }

.u-pb20 {
  padding-bottom: 20px !important; }

.u-pl20 {
  padding-left: 20px !important; }

.u-mt25 {
  margin-top: 25px !important; }

.u-mr25 {
  margin-right: 25px !important; }

.u-mb25 {
  margin-bottom: 25px !important; }

.u-ml25 {
  margin-left: 25px !important; }

.u-pt25 {
  padding-top: 25px !important; }

.u-pr25 {
  padding-right: 25px !important; }

.u-pb25 {
  padding-bottom: 25px !important; }

.u-pl25 {
  padding-left: 25px !important; }

.u-mt30 {
  margin-top: 30px !important; }

.u-mr30 {
  margin-right: 30px !important; }

.u-mb30 {
  margin-bottom: 30px !important; }

.u-ml30 {
  margin-left: 30px !important; }

.u-pt30 {
  padding-top: 30px !important; }

.u-pr30 {
  padding-right: 30px !important; }

.u-pb30 {
  padding-bottom: 30px !important; }

.u-pl30 {
  padding-left: 30px !important; }

.u-mt35 {
  margin-top: 35px !important; }

.u-mr35 {
  margin-right: 35px !important; }

.u-mb35 {
  margin-bottom: 35px !important; }

.u-ml35 {
  margin-left: 35px !important; }

.u-pt35 {
  padding-top: 35px !important; }

.u-pr35 {
  padding-right: 35px !important; }

.u-pb35 {
  padding-bottom: 35px !important; }

.u-pl35 {
  padding-left: 35px !important; }

.u-mt40 {
  margin-top: 40px !important; }

.u-mr40 {
  margin-right: 40px !important; }

.u-mb40 {
  margin-bottom: 40px !important; }

.u-ml40 {
  margin-left: 40px !important; }

.u-pt40 {
  padding-top: 40px !important; }

.u-pr40 {
  padding-right: 40px !important; }

.u-pb40 {
  padding-bottom: 40px !important; }

.u-pl40 {
  padding-left: 40px !important; }

.u-mt45 {
  margin-top: 45px !important; }

.u-mr45 {
  margin-right: 45px !important; }

.u-mb45 {
  margin-bottom: 45px !important; }

.u-ml45 {
  margin-left: 45px !important; }

.u-pt45 {
  padding-top: 45px !important; }

.u-pr45 {
  padding-right: 45px !important; }

.u-pb45 {
  padding-bottom: 45px !important; }

.u-pl45 {
  padding-left: 45px !important; }

.u-mt50 {
  margin-top: 50px !important; }

.u-mr50 {
  margin-right: 50px !important; }

.u-mb50 {
  margin-bottom: 50px !important; }

.u-ml50 {
  margin-left: 50px !important; }

.u-pt50 {
  padding-top: 50px !important; }

.u-pr50 {
  padding-right: 50px !important; }

.u-pb50 {
  padding-bottom: 50px !important; }

.u-pl50 {
  padding-left: 50px !important; }

.u-mt55 {
  margin-top: 55px !important; }

.u-mr55 {
  margin-right: 55px !important; }

.u-mb55 {
  margin-bottom: 55px !important; }

.u-ml55 {
  margin-left: 55px !important; }

.u-pt55 {
  padding-top: 55px !important; }

.u-pr55 {
  padding-right: 55px !important; }

.u-pb55 {
  padding-bottom: 55px !important; }

.u-pl55 {
  padding-left: 55px !important; }

.u-mt60 {
  margin-top: 60px !important; }

.u-mr60 {
  margin-right: 60px !important; }

.u-mb60 {
  margin-bottom: 60px !important; }

.u-ml60 {
  margin-left: 60px !important; }

.u-pt60 {
  padding-top: 60px !important; }

.u-pr60 {
  padding-right: 60px !important; }

.u-pb60 {
  padding-bottom: 60px !important; }

.u-pl60 {
  padding-left: 60px !important; }

.u-mt65 {
  margin-top: 65px !important; }

.u-mr65 {
  margin-right: 65px !important; }

.u-mb65 {
  margin-bottom: 65px !important; }

.u-ml65 {
  margin-left: 65px !important; }

.u-pt65 {
  padding-top: 65px !important; }

.u-pr65 {
  padding-right: 65px !important; }

.u-pb65 {
  padding-bottom: 65px !important; }

.u-pl65 {
  padding-left: 65px !important; }

.u-mt70 {
  margin-top: 70px !important; }

.u-mr70 {
  margin-right: 70px !important; }

.u-mb70 {
  margin-bottom: 70px !important; }

.u-ml70 {
  margin-left: 70px !important; }

.u-pt70 {
  padding-top: 70px !important; }

.u-pr70 {
  padding-right: 70px !important; }

.u-pb70 {
  padding-bottom: 70px !important; }

.u-pl70 {
  padding-left: 70px !important; }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  min-height: 100%; }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', YuGothic, 游ゴシック, 'Noto Sans JP', Verdana, Meiryo, "M+ 1p", sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.8;
  background: #F5F5F5;
  letter-spacing: 1px;
  letter-spacing: 0.1rem; }

/*
* layout
*/
.header {
  position: fixed;
  background-color: #F5F5F5;
  width: 100%;
  height: 60px;
  border-bottom: 1px #fff solid;
  z-index: 1000;
  /*-----  ハンバーガー -----*/ }
  .header-inner {
    position: fixed;
    width: 100%;
    height: 60px; }
    @media all and (min-width: 1200px) {
      .header-inner {
        width: 1062px;
        left: 50%;
        transform: translateX(-50%); } }
  .header-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30px; }
    .header-logo img {
      width: 100px; }
    @media all and (min-width: 1200px) {
      .header-logo {
        left: 0;
        transform: translate(0, -50%); } }
  .header .sp-header-grobalnav {
    display: none; }
    @media all and (min-width: 1200px) {
      .header .sp-header-grobalnav {
        display: block; } }
  .header .header-grobalnav ul {
    text-align: center; }
  .header .header-grobalnav li {
    display: inline-block; }
    .header .header-grobalnav li a {
      display: block;
      line-height: 60px;
      padding: 0 20px;
      transition: all 0.1s; }
      .header .header-grobalnav li a:hover {
        opacity: 0.5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; }
  .header .header-sosial {
    display: none; }
    @media all and (min-width: 1200px) {
      .header .header-sosial {
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%); } }
  .header .hamburgerContainer {
    position: relative;
    width: 100%;
    z-index: 1000; }
    @media all and (min-width: 1200px) {
      .header .hamburgerContainer {
        display: none; } }
  .header .hamburger {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: #F5F5F5;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid #FFF;
    /*-----  ハンバーガーベーススタイルここまで -----*/ }
    .header .hamburger .circle {
      position: absolute;
      width: 0;
      height: 0;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      transition: all 0.2s cubic-bezier(0.1, 0.72, 0.9, 0.58);
      transform: translate(-50%, -50%); }
    .header .hamburger .menuIcon {
      position: relative;
      width: 20px;
      width: 2rem;
      height: 20px;
      height: 2rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .header .hamburger .border {
      position: absolute;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 2px;
      border-radius: 5px;
      transition: all 0.3s;
      background: #FF6767; }
    .header .hamburger .border1 {
      top: 0;
      transform: translateY(3px); }
    .header .hamburger .border2 {
      top: 0;
      bottom: 0;
      margin: auto; }
    .header .hamburger .border3 {
      bottom: 0;
      transform: translateY(-3px); }
  .header .active .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF6767;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); }
  .header .active .border1 {
    background: #fff;
    transform: translateY(0.9rem) rotate(45deg) !important; }
  .header .active .border2 {
    left: 80%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
  .header .active .border3 {
    background: #fff;
    transform: translateX(0px) translateY(-0.9rem) rotate(-45deg) !important; }

.hamburger-contents {
  position: fixed;
  top: -100vh;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  width: 100%;
  height: 100vh;
  padding: 10% 5%;
  background-color: #F5F5F5;
  transition: top .3s, opacity .3s;
  z-index: 900; }

.hamburger-nav {
  width: 100%;
  padding: 5%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 900; }
  .hamburger-nav-body {
    width: 48%;
    text-align: left; }
  .hamburger-nav-left {
    float: left; }
  .hamburger-nav-right {
    float: right; }
  .hamburger-nav-headding {
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 30px 0 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #FF6767; }
  .hamburger-nav li {
    margin-bottom: 15px;
    color: #999999; }
    .hamburger-nav li a {
      color: inherit; }

.hamburger-information {
  position: relative;
  height: 100%; }

.hamburger-logo {
  position: absolute;
  width: 100px;
  bottom: 30px; }

.hamburger-sosial {
  position: absolute;
  right: 0;
  bottom: 0; }

.hamburger-copy {
  position: absolute;
  bottom: 0;
  text-align: left;
  font-size: 10px;
  font-size: 1rem; }

.active .hamburger-contents {
  top: 0;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

.pagetop {
  margin: 50px 0 30px; }

.footer {
  border-top: 1px solid #FFF; }
  .footer-inner {
    margin: 0 5% 40px;
    text-align: center; }
    @media all and (min-width: 1200px) {
      .footer-inner {
        width: 1062px;
        margin: 0 auto 40px; } }
  .footer-nav {
    margin-bottom: 50px; }
    @media all and (min-width: 1200px) {
      .footer-nav {
        float: right;
        width: 500px; } }
    .footer-nav-body {
      width: 48%;
      text-align: left; }
    .footer-nav-left {
      float: left; }
    .footer-nav-right {
      float: right; }
    .footer-nav-headding {
      font-size: 14px;
      font-size: 1.4rem;
      font-weight: bold;
      margin: 30px 0 20px;
      padding-bottom: 15px;
      border-bottom: 1px solid #FF6767; }
    .footer-nav li {
      margin-bottom: 15px;
      color: #999999; }
      .footer-nav li a {
        color: inherit; }
  .footer-information {
    position: relative;
    height: 80px; }
  .footer-logo {
    position: absolute;
    width: 100px;
    bottom: 30px; }
    @media all and (min-width: 1200px) {
      .footer-logo {
        top: 30px; } }
  @media all and (min-width: 1200px) {
    .footer-text {
      position: absolute;
      width: 400px;
      top: 90px;
      text-align: left;
      font-size: 1.2rem;
      line-height: 1.8; } }
  .footer-sosial {
    position: absolute;
    right: 0;
    bottom: 0; }
    @media all and (min-width: 1200px) {
      .footer-sosial {
        right: auto;
        bottom: auto;
        top: 190px; } }
  .footer .copy {
    position: absolute;
    bottom: 0;
    text-align: left;
    font-size: 10px;
    font-size: 1rem; }
    @media all and (min-width: 1200px) {
      .footer .copy {
        top: 250px; } }
  .footer .sp-footer-hidden {
    display: none; }
    @media all and (min-width: 1200px) {
      .footer .sp-footer-hidden {
        display: block; } }

.contents {
  width: 100%; }

.contents-inner {
  margin: 0 3%; }
  @media all and (min-width: 768px) {
    .contents-inner {
      margin: 0 auto; } }
  @media all and (min-width: 1200px) {
    .contents-inner {
      width: 1062px;
      margin: 0 auto; } }

.page404 {
  padding: 90px 0; }
  .page404 p {
    margin: 100px 0;
    text-align: center; }

/*
* module
*/
/*
#overview
button

*/
/*
#styleguide

type
```
<a href="#" class="button button-primary">button</a>
<a href="#" class="button button-error">button</a>
<a href="#" class="button button-warning">button</a>
```
*/
/*
#styleguide

size
```
<a href="#" class="button button-primary small">button</a>
<a href="#" class="button button-primary">button</a>
<a href="#" class="button button-primary large">button</a>
```
*/
/*
#styleguide

radius
```
<a href="#" class="button button-primary square">button</a>
<a href="#" class="button button-primary circle">button</a>
```
*/
.button-A {
  display: inline-block;
  text-align: center;
  background-color: #FFF;
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 1px;
  color: #FF6767;
  cursor: pointer; }
  .button-A a {
    display: block;
    color: inherit; }

.button-B {
  width: 100%;
  text-align: center;
  background-color: #F5F5F5;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 1px;
  color: #000;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  cursor: pointer; }
  .button-B a {
    display: block;
    color: inherit; }
  .button-B:hover {
    background-color: #FFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1); }

.button-pagetop {
  width: 100px;
  margin: 0 auto;
  border-top: 1px solid #FF6767;
  line-height: 40px;
  display: block;
  text-align: center;
  transition: width 0.2s; }
  .button-pagetop:hover {
    width: 100%; }

/*
#overview
heading

*/
/*
#styleguide

```
<h1 class="heading-primary">heading</h1>
<h2 class="heading-secondary">heading</h2>
<h3 class="heading-thirdly">heading</h3>
```
*/
.heading-A {
  font-family: 'Baloo Chettan', cursive;
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: bold;
  color: #000;
  padding: 30px 0;
  text-align: center; }
  @media all and (min-width: 1366px) {
    .heading-A {
      font-size: 3rem;
      padding: 60px 0 40px; } }

.heading-B {
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: bold;
  color: #000;
  padding: 30px 0;
  text-align: center; }
  @media all and (min-width: 1366px) {
    .heading-B {
      font-size: 3rem;
      padding: 60px 0 40px; } }

.heading-primary {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.8;
  color: #333;
  padding-bottom: 5px;
  border-bottom: 2px #333 solid; }

.heading-secondary {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.7;
  color: #333;
  position: relative;
  padding-left: 14px; }
  .heading-secondary:before {
    content: "";
    display: block;
    width: 4px;
    height: 18px;
    background: #333;
    position: absolute;
    top: 5px;
    left: 0; }

.heading-thirdly {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.6;
  color: #333;
  padding-bottom: 5px;
  border-bottom: 2px #333 dotted; }

/*
#overview
media

*/
/*
#styleguide

type
```
```
*/
.media {
  width: 100%;
  padding: 10px;
  background-color: #FFF;
  margin-bottom: 30px; }
  .media-image-wrapper {
    width: 100%;
    height: 220px;
    overflow: hidden; }
    @media all and (min-width: 768px) {
      .media-image-wrapper {
        height: 120px; } }
    @media all and (min-width: 1024px) {
      .media-image-wrapper {
        height: 180px; } }
    @media all and (min-width: 1366px) {
      .media-image-wrapper {
        height: 220px; } }
  .media-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s; }
    .media-image:hover {
      transform: scale(1.05); }
  .media-text {
    position: relative;
    padding-top: 10px; }
  .media-category {
    display: inline-block;
    color: #999999;
    font-size: 10px;
    font-size: 1rem; }
    .media-category a {
      color: inherit; }
  .media time {
    position: absolute;
    font-size: 10px;
    font-size: 1rem;
    right: 0;
    color: #999999; }
  .media-heading {
    margin: 15px 0;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: bold; }
    @media all and (min-width: 768px) {
      .media-heading {
        height: 38px; } }
  .media-writer-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    float: left;
    background-size: cover;
    background-position: center; }
  .media-writer-name {
    line-height: 30px; }
  .media-preview {
    line-height: 30px;
    position: absolute;
    right: 0;
    bottom: 0; }

.ranking-wrapper {
  counter-reset: media-s-rank; }

.media-s {
  position: relative;
  width: 100%;
  padding: 10px;
  background-color: #FFF;
  margin-bottom: 10px; }
  @media all and (min-width: 768px) {
    .media-s {
      margin-bottom: 0; } }
  .media-s-rank {
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    top: 0;
    left: 0;
    background-color: #FF6767; }
    .media-s-rank:before {
      content: counter(media-s-rank, decimal);
      counter-increment: media-s-rank;
      color: #FFF;
      position: absolute;
      width: 30px;
      line-height: 30px;
      left: 0;
      top: 0;
      z-index: 1; }
  .media-s-body {
    height: 70px; }
    @media all and (min-width: 414px) {
      .media-s-body {
        height: 80px; } }
    @media all and (min-width: 768px) {
      .media-s-body {
        height: 70px; } }
  .media-s-image-wrapper {
    width: 35%;
    height: 70px;
    margin-right: 10px;
    float: left; }
    @media all and (min-width: 414px) {
      .media-s-image-wrapper {
        height: 80px; } }
    @media all and (min-width: 768px) {
      .media-s-image-wrapper {
        height: 70px; } }
  .media-s-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover; }
  .media-s-text {
    position: relative;
    width: 65%;
    margin-left: 35%;
    height: 70px; }
    @media all and (min-width: 414px) {
      .media-s-text {
        height: 80px; } }
    @media all and (min-width: 768px) {
      .media-s-text {
        height: 70px; } }
    .media-s-text a {
      display: block;
      height: 70px; }
      @media all and (min-width: 414px) {
        .media-s-text a {
          height: 80px; } }
      @media all and (min-width: 768px) {
        .media-s-text a {
          height: 70px; } }
  .media-s-heading {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: bold; }
  .media-s-preview {
    position: absolute;
    right: 0;
    bottom: 0; }

.snsicons-item {
  display: inline-block;
  float: left; }
  .snsicons-item img {
    width: 30px;
    height: 30px; }
    @media all and (min-width: 1200px) {
      .snsicons-item img {
        width: 25px;
        height: 25px; } }
  .snsicons-item-right {
    margin-left: 10px; }

.social-share {
  padding: 20px; }
  .social-share .icon-share {
    width: 20px;
    height: 20px;
    background-image: url("https://dolki.jp/wp/wp-content/themes/dolki/images/icon/icon-heading.svg");
    background-position: center;
    display: inline-block;
    margin-right: 10px;
    background-color: #FFF; }
  .social-share .icon-share-heading {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 20px;
    vertical-align: top;
    font-weight: bold;
    display: inline-block; }
  .social-share ul {
    padding: 20px 0 0;
    text-align: center; }
  .social-share li {
    display: inline-block; }
    .social-share li:not(:last-child) {
      margin-right: 30px; }
  .social-share .icon-twitter {
    width: 30px;
    height: 30px;
    background-image: url("https://dolki.jp/wp/wp-content/themes/dolki/images/icon/icon-twitter-share.svg");
    background-position: center;
    display: block; }
  .social-share .icon-facebook {
    width: 30px;
    height: 30px;
    background-image: url("https://dolki.jp/wp/wp-content/themes/dolki/images/icon/icon-facebook-share.svg");
    background-position: center;
    display: block; }
  .social-share .icon-hatena {
    width: 30px;
    height: 30px;
    background-image: url("https://dolki.jp/wp/wp-content/themes/dolki/images/icon/icon-hatena-share.svg");
    background-position: center;
    display: block; }
  .social-share .icon-pocket {
    width: 30px;
    height: 30px;
    background-image: url("https://dolki.jp/wp/wp-content/themes/dolki/images/icon/icon-pocket-share.svg");
    background-position: center;
    display: block; }

.card-A {
  padding: 20px;
  background-color: #FFF; }
  .card-A-icon {
    width: 20px;
    height: 20px;
    background-image: url("https://dolki.jp/wp/wp-content/themes/dolki/images/icon/icon-heading.svg");
    background-position: center;
    display: inline-block;
    margin-right: 10px;
    background-color: #FFF; }
  .card-A-heading {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 20px;
    vertical-align: top;
    font-weight: bold;
    display: inline-block; }
  .card-A ul {
    padding: 20px 0 0; }
  .card-A li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px; }
  .card-A .tagitem {
    border: 1px solid #999999;
    border-radius: 14px; }
    .card-A .tagitem span {
      display: inline-block; }
    .card-A .tagitem a {
      padding: 5px 10px;
      border-radius: 14px;
      display: inline-block;
      color: #000;
      transition: all 0.3s; }
      .card-A .tagitem a:before {
        content: "#";
        margin-right: 1px; }
      .card-A .tagitem a:hover {
        opacity: 0.7;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; }

.pagination {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 40px 0;
  position: relative;
  font-size: 13px; }

.pagination span, .pagination a {
  display: block;
  width: auto;
  margin: 4px;
  padding: 8px;
  border: 1px solid #000;
  background-color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 16px; }

/* ページ番号 */
.pagination .pager {
  width: 32px; }

/* ホバー時 & 現在のページ */
.pagination a:hover,
.pagination .current {
  color: #fff;
  border-color: #000;
  background-color: #000; }

/* 前へ */
.pagination a.prev {
  margin-right: 16px; }

/* 次へ */
.pagination a.next {
  margin-left: 16px; }

/* 最初へ */
/* 最後へ */
/* Page x / y */
.pagination span.page_num {
  display: none; }

/*
* pages
*/
@media all and (min-width: 768px) {
  .home .feed-wrapper {
    width: 66.6%;
    float: left; } }

@media all and (min-width: 1366px) {
  .home .feed-wrapper {
    width: 702px;
    float: left; } }

@media all and (min-width: 768px) {
  .home .ranking-wrapper {
    width: 32%;
    margin-right: 0;
    margin-left: auto; } }

@media all and (min-width: 1366px) {
  .home .ranking-wrapper {
    width: 342px;
    margin-right: 0;
    margin-left: auto; } }

@media all and (min-width: 768px) {
  .home .media {
    width: 49%;
    float: left; }
    .home .media:not(:nth-of-type(2n)) {
      margin-right: 2%; } }

@media all and (min-width: 1366px) {
  .home .media {
    width: 342px;
    float: left; }
    .home .media:not(:nth-of-type(2n)) {
      margin-right: 18px; } }

.key-visual {
  width: 100%;
  padding-top: 60px; }
  .key-visual-inner {
    position: relative;
    background-image: url("https://dolki.jp/wp/wp-content/themes/dolki/images/keyvisual.jpg");
    background-position: center;
    background-size: cover;
    height: 400px; }
    @media all and (min-width: 360px) {
      .key-visual-inner {
        height: 500px; } }
    @media all and (min-width: 768px) {
      .key-visual-inner {
        height: 400px; } }
    @media all and (min-width: 1366px) {
      .key-visual-inner {
        height: 550px; } }
    @media all and (min-width: 1920px) {
      .key-visual-inner {
        height: 600px; } }
  .key-visual-message {
    font-family: 'Permanent Marker', cursive;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(151, 151, 151, 0.34);
    color: #FFF; }
    @media all and (min-width: 1366px) {
      .key-visual-message {
        font-size: 3rem; } }
  .key-visual-about {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%); }

.blog .contents,
.category .contents,
.tag .contents {
  padding-top: 60px; }

@media all and (min-width: 768px) {
  .blog .media,
  .category .media,
  .tag .media {
    width: 32%;
    float: left;
    margin-right: 2%; }
    .blog .media:nth-of-type(3n),
    .category .media:nth-of-type(3n),
    .tag .media:nth-of-type(3n) {
      margin-right: 0; } }

@media all and (min-width: 1366px) {
  .blog .media,
  .category .media,
  .tag .media {
    width: 342px;
    float: left;
    margin-right: 18px; }
    .blog .media:nth-of-type(3n),
    .category .media:nth-of-type(3n),
    .tag .media:nth-of-type(3n) {
      margin-right: 0; } }

.blog .cotegorylist,
.category .cotegorylist,
.tag .cotegorylist {
  display: none; }
  @media all and (min-width: 1366px) {
    .blog .cotegorylist,
    .category .cotegorylist,
    .tag .cotegorylist {
      display: block;
      margin-bottom: 30px; }
      .blog .cotegorylist ul,
      .category .cotegorylist ul,
      .tag .cotegorylist ul {
        text-align: center; }
      .blog .cotegorylist li,
      .category .cotegorylist li,
      .tag .cotegorylist li {
        width: 100px;
        display: inline-block; }
        .blog .cotegorylist li:hover,
        .category .cotegorylist li:hover,
        .tag .cotegorylist li:hover {
          opacity: 0.7;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; }
      .blog .cotegorylist .current,
      .category .cotegorylist .current,
      .tag .cotegorylist .current {
        color: #FF6767; } }

.page-id-6 .contents {
  padding-top: 60px; }
  @media all and (min-width: 768px) {
    .page-id-6 .contents-inner {
      width: 702px; } }

.page-id-6 .about-box {
  background-color: #FFF;
  padding: 20px; }
  @media all and (min-width: 768px) {
    .page-id-6 .about-box {
      padding: 100px; } }

.page-id-6 .about-logo {
  margin: 30px auto;
  width: 40px; }
  @media all and (min-width: 768px) {
    .page-id-6 .about-logo {
      width: 100px;
      margin-bottom: 60px; } }

.page-id-6 .about p {
  line-height: 2;
  margin-bottom: 30px; }
  @media all and (min-width: 768px) {
    .page-id-6 .about p {
      margin-bottom: 60px; } }

.page-id-6 .about-sosial .snsicons-wrapper {
  width: 70px;
  margin: 0 auto; }

.page-id-10 .contents,
.page-id-12 .contents,
.page-id-14 .contents {
  padding-top: 60px; }

.page-id-10 .contents-inner,
.page-id-12 .contents-inner,
.page-id-14 .contents-inner {
  margin: 0 auto; }

@media all and (min-width: 768px) {
  .page-id-10 .main-left,
  .page-id-12 .main-left,
  .page-id-14 .main-left {
    width: 60%;
    margin-right: 12px;
    float: left; } }

@media all and (min-width: 1200px) {
  .page-id-10 .main-left,
  .page-id-12 .main-left,
  .page-id-14 .main-left {
    width: 702px;
    margin-right: 18px;
    float: left; } }

@media all and (min-width: 768px) {
  .page-id-10 .main-right,
  .page-id-12 .main-right,
  .page-id-14 .main-right {
    width: 37%;
    margin-left: auto;
    margin-right: 0; } }

@media all and (min-width: 1200px) {
  .page-id-10 .main-right,
  .page-id-12 .main-right,
  .page-id-14 .main-right {
    width: 342px;
    margin-left: auto;
    margin-right: 0; } }

.page-id-10 .writer-item,
.page-id-12 .writer-item,
.page-id-14 .writer-item {
  background-color: #FFF;
  width: 49%;
  float: left;
  text-align: center;
  margin: 0 2% 2% 0; }
  @media all and (min-width: 768px) {
    .page-id-10 .writer-item,
    .page-id-12 .writer-item,
    .page-id-14 .writer-item {
      width: 31%;
      margin: 0 3% 18px 0; } }
  @media all and (min-width: 1200px) {
    .page-id-10 .writer-item,
    .page-id-12 .writer-item,
    .page-id-14 .writer-item {
      width: 342px;
      margin: 0 18px 18px 0; } }
  .page-id-10 .writer-item-above,
  .page-id-12 .writer-item-above,
  .page-id-14 .writer-item-above {
    padding: 20px; }
  .page-id-10 .writer-item-bottom,
  .page-id-12 .writer-item-bottom,
  .page-id-14 .writer-item-bottom {
    padding-bottom: 20px; }
  .page-id-10 .writer-item a,
  .page-id-12 .writer-item a,
  .page-id-14 .writer-item a {
    display: block; }

.page-id-10 .writer li:nth-child(2n),
.page-id-12 .writer li:nth-child(2n),
.page-id-14 .writer li:nth-child(2n) {
  margin: 0 0 18px 0; }

@media all and (min-width: 1200px) {
  .page-id-10 .writer li:nth-child(2n),
  .page-id-12 .writer li:nth-child(2n),
  .page-id-14 .writer li:nth-child(2n) {
    margin: 0 18px 18px 0; }
  .page-id-10 .writer li:nth-child(3n),
  .page-id-12 .writer li:nth-child(3n),
  .page-id-14 .writer li:nth-child(3n) {
    margin: 0 0 2% 0; } }

.page-id-10 .writer-image,
.page-id-12 .writer-image,
.page-id-14 .writer-image {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-position: center;
  background-size: cover; }
  @media all and (min-width: 1366px) {
    .page-id-10 .writer-image,
    .page-id-12 .writer-image,
    .page-id-14 .writer-image {
      width: 150px;
      height: 150px; } }

.page-id-10 .profile,
.page-id-12 .profile,
.page-id-14 .profile {
  width: 100%;
  padding: 30px;
  background-color: #FFF;
  margin-top: 10px; }
  @media all and (min-width: 768px) {
    .page-id-10 .profile,
    .page-id-12 .profile,
    .page-id-14 .profile {
      margin-top: 0;
      padding: 100px 100px; } }
  @media all and (min-width: 1200px) {
    .page-id-10 .profile,
    .page-id-12 .profile,
    .page-id-14 .profile {
      margin-top: 0;
      padding: 100px 150px; } }
  .page-id-10 .profile-image,
  .page-id-12 .profile-image,
  .page-id-14 .profile-image {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    margin-bottom: 30px; }
  .page-id-10 .profile-name,
  .page-id-12 .profile-name,
  .page-id-14 .profile-name {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    font-size: 1.4rem;
    margin-bottom: 30px; }
  .page-id-10 .profile-discription,
  .page-id-12 .profile-discription,
  .page-id-14 .profile-discription {
    line-height: 1.8; }

.page-id-10 .writer-dtl,
.page-id-12 .writer-dtl,
.page-id-14 .writer-dtl {
  margin-top: 10px; }
  .page-id-10 .writer-dtl .snsicons,
  .page-id-12 .writer-dtl .snsicons,
  .page-id-14 .writer-dtl .snsicons {
    padding-top: 20px;
    width: 70px;
    margin: 0 auto; }
    @media all and (min-width: 768px) {
      .page-id-10 .writer-dtl .snsicons-wrapper,
      .page-id-12 .writer-dtl .snsicons-wrapper,
      .page-id-14 .writer-dtl .snsicons-wrapper {
        height: 30px; } }

@media all and (min-width: 768px) {
  .page-id-10 .feed,
  .page-id-12 .feed,
  .page-id-14 .feed {
    width: 60%;
    margin-right: 12px;
    float: left; } }

@media all and (min-width: 1200px) {
  .page-id-10 .feed,
  .page-id-12 .feed,
  .page-id-14 .feed {
    width: 702px;
    margin-right: 18px;
    float: left; } }

@media all and (min-width: 768px) {
  .page-id-10 .media,
  .page-id-12 .media,
  .page-id-14 .media {
    width: 49%;
    float: left; }
    .page-id-10 .media:not(:nth-of-type(2n)),
    .page-id-12 .media:not(:nth-of-type(2n)),
    .page-id-14 .media:not(:nth-of-type(2n)) {
      margin-right: 2%; } }

@media all and (min-width: 1200px) {
  .page-id-10 .media,
  .page-id-12 .media,
  .page-id-14 .media {
    width: 342px;
    float: left; }
    .page-id-10 .media:not(:nth-of-type(2n)),
    .page-id-12 .media:not(:nth-of-type(2n)),
    .page-id-14 .media:not(:nth-of-type(2n)) {
      margin-right: 18px; } }

@media all and (min-width: 768px) {
  .page-id-10 .ranking-wrapper,
  .page-id-12 .ranking-wrapper,
  .page-id-14 .ranking-wrapper {
    width: 37%;
    margin-right: 0;
    margin-left: auto; } }

@media all and (min-width: 1200px) {
  .page-id-10 .ranking-wrapper,
  .page-id-12 .ranking-wrapper,
  .page-id-14 .ranking-wrapper {
    width: 342px;
    margin-right: 0;
    margin-left: auto; } }

.page-id-10 .career .card-A-heading,
.page-id-12 .career .card-A-heading,
.page-id-14 .career .card-A-heading {
  padding-bottom: 20px; }

.page-id-10 .career-box,
.page-id-12 .career-box,
.page-id-14 .career-box {
  position: relative; }

.page-id-10 .career-item,
.page-id-12 .career-item,
.page-id-14 .career-item {
  margin-bottom: 15px; }
  .page-id-10 .career-item ul,
  .page-id-12 .career-item ul,
  .page-id-14 .career-item ul {
    padding-top: 0; }
  .page-id-10 .career-item li,
  .page-id-12 .career-item li,
  .page-id-14 .career-item li {
    margin-bottom: 10px;
    display: block; }

.page-id-10 .career-line,
.page-id-12 .career-line,
.page-id-14 .career-line {
  position: absolute;
  width: 30%;
  height: 90%;
  transform: translateY(2px);
  border-right: 1px solid #000; }

.page-id-10 .career-dot,
.page-id-12 .career-dot,
.page-id-14 .career-dot {
  position: absolute;
  left: 30%;
  transform: translate(-50%, 2px);
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #FF6767; }

.page-id-10 .career-year,
.page-id-12 .career-year,
.page-id-14 .career-year {
  position: absolute;
  text-align: right;
  left: 10%;
  display: inline-block; }

.page-id-10 .career-artist,
.page-id-12 .career-artist,
.page-id-14 .career-artist {
  width: 60%;
  float: right; }

.single strong {
  font-weight: bold; }

.single em {
  font-style: italic; }

.single .contents {
  padding-top: 60px; }

.single .contents-inner {
  margin: 0 auto; }

@media all and (min-width: 768px) {
  .single .main-left {
    width: 60%;
    float: left; } }

@media all and (min-width: 1200px) {
  .single .main-left {
    width: auto;
    float: left; } }

.single .article {
  margin-top: 15px;
  padding-bottom: 15px;
  background-color: #FFF; }
  @media all and (min-width: 768px) {
    .single .article {
      width: 100%;
      margin-right: 12px;
      float: left; } }
  @media all and (min-width: 1200px) {
    .single .article {
      width: 702px;
      margin-right: 18px;
      float: left; } }
  .single .article-header-wrapper {
    position: relative;
    padding: 10px; }
    @media all and (min-width: 768px) {
      .single .article-header-wrapper {
        padding: 30px 50px 10px; } }
  .single .article time {
    position: absolute;
    right: 10px;
    color: #999999; }
    @media all and (min-width: 768px) {
      .single .article time {
        right: 50px; } }
  .single .article-category {
    display: inline-block;
    color: #999999; }
    .single .article-category a {
      color: inherit; }
  .single .article-heading {
    margin: 15px 0;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: bold; }
  .single .article-writer-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-color: #eee;
    border-radius: 50%;
    float: left; }
  .single .article-writer-name {
    line-height: 30px; }
  .single .article-preview {
    line-height: 30px;
    position: absolute;
    right: 10px;
    bottom: 10px; }
    @media all and (min-width: 768px) {
      .single .article-preview {
        right: 50px; } }
  .single .article-headertext {
    margin: 20px 3%;
    line-height: 1.8; }
    @media all and (min-width: 768px) {
      .single .article-headertext {
        margin: 20px 50px; } }
  .single .article-share {
    border: 1px solid #F5F5F5;
    margin: 20px 10px; }
    @media all and (min-width: 768px) {
      .single .article-share {
        margin: 20px 50px; } }
  .single .article-image {
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover; }
    @media all and (min-width: 768px) {
      .single .article-image {
        height: 400px; } }
  .single .article-body {
    margin: 0 3%;
    padding: 30px 0; }
    @media all and (min-width: 1200px) {
      .single .article-body {
        margin: 0 50px 0 180px;
        width: 472px; } }
    .single .article-body h2 {
      font-size: 14px;
      font-size: 1.4rem;
      font-weight: bold;
      line-height: 1.4;
      margin-bottom: 10px; }
    .single .article-body p {
      line-height: 1.8; }
    .single .article-body img {
      max-width: 100% !important;
      height: auto !important;
      width: 100%; }
    .single .article-body a {
      text-decoration: underline dotted;
      transition: all 0.3s; }
      .single .article-body a:after {
        font-family: 'Font Awesome 5 Free';
        content: '\f24d';
        font-weight: 400;
        margin-left: 3px; }
      .single .article-body a:hover {
        color: #FF6767; }
    .single .article-body .wp-caption {
      max-width: 100% !important; }
    .single .article-body blockquote {
      position: relative;
      border: 1px solid #999999;
      background: #FFF;
      margin-top: 30px;
      padding: 20px; }
    .single .article-body blockquote:before {
      position: absolute;
      left: 45%;
      top: -24px;
      background-color: #FF6767;
      color: #FFF;
      border: 2px solid #FF6767;
      box-sizing: border-box;
      font-family: 'Font Awesome 5 Free';
      content: '\f10d';
      font-weight: 900;
      line-height: 1;
      padding-top: 12px;
      text-align: center;
      width: 48px;
      height: 48px;
      font-size: 20px;
      font-size: 2rem;
      border-radius: 24px; }
    .single .article-body blockquote p {
      color: #000; }
    .single .article-body blockquote cite {
      display: block;
      padding-top: 10px;
      font-size: 8px;
      font-size: 0.8rem;
      text-align: right;
      color: #000; }
    .single .article-body .wp-embedded-content {
      border: 1px solid #F5F5F5;
      padding: 10px;
      width: 100%;
      max-width: 100%;
      height: 90px;
      margin-bottom: 20px; }
  .single .article-tag {
    border: 1px solid #F5F5F5;
    margin: 20px 10px; }
    @media all and (min-width: 768px) {
      .single .article-tag {
        margin: 20px 50px; } }
    .single .article-tag li {
      margin-right: 10px; }
  .single .article .wp-caption-text {
    font-size: 10px;
    font-size: 1rem;
    padding-top: 5px;
    margin: 0 3%; }

.single .feed {
  margin: 0 3%; }
  @media all and (min-width: 768px) {
    .single .feed {
      width: 100%;
      margin: 0; } }
  @media all and (min-width: 1200px) {
    .single .feed {
      width: 720px;
      margin: 0; } }
  @media all and (min-width: 768px) {
    .single .feed .media {
      width: 49%;
      float: left; }
      .single .feed .media:not(:nth-of-type(2n)) {
        margin-right: 2%; } }
  @media all and (min-width: 1200px) {
    .single .feed .media {
      width: 342px;
      float: left; }
      .single .feed .media:not(:nth-of-type(2n)) {
        margin-right: 18px; } }

@media all and (min-width: 768px) {
  .single .ranking-wrapper {
    width: 37%;
    margin-right: 0;
    margin-left: auto; } }

@media all and (min-width: 1200px) {
  .single .ranking-wrapper {
    width: 342px;
    margin-right: 0;
    margin-left: auto; } }

.single .instagram-media {
  min-width: 300px !important; }
  @media all and (min-width: 375px) {
    .single .instagram-media {
      width: 100%;
      margin: 0; } }
