.page-id-6 {
    .contents {
        padding-top: 60px;
        &-inner {
            @include query(1366) {
                width: 702px;
            }
        }
    }
    .about {
        &-box {
            background-color: $color-white;
            padding: 20px;
            @include query(1366) {
                padding: 100px;
            }
        }
        &-logo {
            margin: 30px auto;
            width: 40px;
            @include query(1366) {
                width: 100px;
                margin-bottom: 60px;
            }
        }
        p {
            line-height: 2;
            margin-bottom: 30px;
            @include query(1366) {
                margin-bottom: 60px;
            }
        }
        &-sosial {
            .snsicons-wrapper {
                width: 70px;
                margin: 0 auto;
            }
        }
    }
}
