.home {
    .feed-wrapper {
        @include query(1366) {
            width: 702px;
            float: left;
        }
        @extend %clearfix;
    }
    .feed-inner-wrapper {
        @extend %clearfix;
    }
    .ranking-wrapper {
        @include query(1366) {
            width: 342px;
            margin-right: 0;
            margin-left: auto;
        }
        @extend %clearfix;
    }
    .media {
        @include query(1366) {
            width: 342px;
            float: left;
            &:not(:nth-of-type(2n)){
                margin-right: 18px;
            }
        }
    }
}

.key-visual {
    width: 100%;
    padding-top: 60px;
    &-inner {
        position: relative;
        background-image: url("../images/keyvisual-sample.jpg");
        background-position: center;
        background-size: cover;
        height: 400px;
        @include query(360) {
            height: 500px;
        }
        @include query(768) {
            height: 400px;
        }
        @include query(1366) {
            height: 550px;
        }
    }
    &-message {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        font-size: 2rem;
        font-weight: bold;
        color: $color-white;
    }
    &-about {
        position: absolute;
        top: 65%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
}
