.single {
    .contents {
        padding-top: 60px;
    }
    .contents-inner{
        margin: 0 auto;
        @include query(768) {
        margin: 0 15%;
        }
        @include query(1366) {
        margin: 0 auto;
        }
    }
    .main {
        @extend %clearfix;
        &-left {
            @include query(1366) {
            float: left;
            }
        }
    }
    .article {
        margin-top: 15px;
        padding-bottom: 15px;
        background-color: $color-white;
        @include query(1366) {
            width: 702px;
            margin-right: 18px;
            float: left;
        }
        &-inner-wrapper {
            @extend %clearfix;
        }
        &-header {
            &-wrapper {
                position: relative;
                padding: 10px;
                @include query(1366) {
                    padding: 30px 50px 10px;
                }
            }
        }

        time {
            position: absolute;
            right: 10px;
            color: $color-gray;
            @include query(1366) {
                right: 50px;
            }
        }
        &-category {
            display: inline-block;
            color: $color-gray;
            a {
                color: inherit;
            }
        }
        &-heading {
            margin: 15px 0;
            font-size: 1.4rem;
            line-height: 1.4;
            font-weight: bold;
        }
        &-writer {
            @extend %clearfix;
            &-image {
                width: 30px;
                height: 30px;
                margin-right: 10px;
                background-color: #eee;
                border-radius: 50%;
                float: left;
            }
            &-name {
                line-height: 30px;

            }
        }
        &-preview {
            line-height: 30px;
            position: absolute;
            right: 10px;
            bottom: 10px;
            @include query(1366) {
                right: 50px;
            }
        }
        &-headertext {
            margin: 20px 3%;
            line-height: 1.8;
            @include query(1366) {
                margin: 20px 50px;
            }
        }
        &-share {
            border: 1px solid $color-base;
            margin: 20px 10px;
            @include query(1366) {
                margin: 20px 50px;
            }
        }
        &-image {
            width: 100%;
            height: 200px;
            background-position: center;
            background-size: cover;
            @include query(768) {
                height: 400px;
            }
        }
        &-image-wrapper {
        }
        &-body {
            margin: 0 3%;
            padding: 30px 0;
            @include query(1366) {
                margin: 0 50px 0 180px;
                width: 472px;
            }
            h2 {
                font-size: 1.4rem;
                font-weight: bold;
                line-height: 1.4;
                margin-bottom: 10px;
            }
            p {
                line-height: 1.8;
            }
            img {
                width: 100%;
            }
        }
        &-tag {
            border: 1px solid $color-base;
            margin: 20px 10px;
            @include query(1366) {
                margin: 20px 50px;
            }
            li {
                margin-right: 5px;
            }
        }
        .wp-caption-text {
            font-size: 1rem;
            padding-top: 5px;
            margin: 0 3%;
        }
    }


    .feed {
        margin: 0 3%;
        @extend %clearfix;
        @include query(1366) {
            width: 720px;
            margin: 0;
        }
        .media {
            @include query(1366) {
                width: 342px;
                float: left;
                margin-right: 18px;
                &:nth-of-type(3n){
                    margin-right: 0;
                }
            }
        }
    }
    .ranking-wrapper {
        @include query(1366) {
            width: 342px;
            margin-right: 0;
            margin-left: auto;
        }
        @extend %clearfix;
    }

}
