.page-writer {
    .contents {
        padding-top: 60px;
    }
    .contents-inner{
        margin: 0 auto;
    }
    .main {
        @extend %clearfix;
        &-left {
            @include query(1366) {
                width: 702px;
                margin-right: 18px;
                float: left;
            }
        }
        &-right {
            @include query(1366) {
                width: 342px;
                margin-left: auto;
                margin-right: 0;
            }
        }
    }
    .writer {
        &-box {
            @extend %clearfix;

        }
        &-item {
            background-color: $color-white;
            width: 49%;
            float: left;
            text-align: center;
            margin:0 2% 2% 0;
            @include query(1366) {
                width: 342px;
                margin:0 18px 18px 0;
            }
            &-above {
                padding: 20px;
            }
            &-bottom {
                padding-bottom: 20px;
            }
            a {
                display: block;
            }
        }
        li:nth-child(2n) {
            margin:0 0 18px 0;
        }
        @include query(1366) {
            li:nth-child(2n) {
                margin:0 18px 18px 0;
            }
            li:nth-child(3n) {
                margin:0 0 2% 0;
            }
        }
        &-image {
            margin: 0 auto;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-image: url("../images/keyvisual-sample.jpg");
            background-position: center;
            background-size: cover;
            @include query(1366) {
                width: 150px;
                height: 150px;
            }
        }
    }

    // 個別
    .profile {
        width: 100%;
        padding: 30px;
        background-color: $color-white;
        margin-top: 10px;
        @include query(1366) {
            margin-top: 0;
            padding: 100px 150px;
        }
        &-image {
            margin: 0 auto;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-image: url("../images/keyvisual-sample.jpg");
            background-position: center;
            background-size: cover;
            margin-bottom: 30px;
            @include query(1366) {
                width: 200px;
                height: 200px;
            }
        }
        &-name {
            text-align: center;
            font-weight: bold;
            font-size: 1.4rem;
            margin-bottom: 30px;
        }
        &-discription {
            line-height: 1.8;
        }
    }
    .writer-dtl {
        margin-top: 10px;

        .snsicons {
            padding-top: 20px;
            width: 70px;
            margin: 0 auto;
            &-wrapper {
                @include query(1366) {
                    height: 30px;
                }
            }
        }
    }
    .media {
        @include query(1366) {
            width: 342px;
            float: left;
            &:not(:nth-of-type(2n)){
                margin-right: 18px;
            }
        }
    }
}
