.page-id-10,
.page-id-12,
.page-id-14 {
    .contents {
        padding-top: 60px;
    }
    .contents-inner{
        margin: 0 auto;
    }
    .main {
        @extend %clearfix;
        &-left {
          @include query(768) {
              width: 60%;
              margin-right: 12px;
              float: left;
          }
            @include query(1200) {
                width: 702px;
                margin-right: 18px;
                float: left;
            }
        }
        &-right {
          @include query(768) {
              width: 37%;
              margin-left: auto;
              margin-right: 0;
          }
            @include query(1200) {
                width: 342px;
                margin-left: auto;
                margin-right: 0;
            }
        }
        &-wrapper {
          // @extend %clearfix;
        }
    }
    .writer {
        &-box {
            @extend %clearfix;

        }
        &-item {
            background-color: $color-white;
            width: 49%;
            float: left;
            text-align: center;
            margin:0 2% 2% 0;
            @include query(768) {
                width: 31%;
                margin:0 3% 18px 0;
            }
            @include query(1200) {
                width: 342px;
                margin:0 18px 18px 0;
            }
            &-above {
                padding: 20px;
            }
            &-bottom {
                padding-bottom: 20px;
            }
            a {
                display: block;
            }
        }
        li:nth-child(2n) {
            margin:0 0 18px 0;
        }
        @include query(1200) {
            li:nth-child(2n) {
                margin:0 18px 18px 0;
            }
            li:nth-child(3n) {
                margin:0 0 2% 0;
            }
        }
        &-image {
            margin: 0 auto;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            @include query(1366) {
                width: 150px;
                height: 150px;
            }
        }
    }

    // 個別
    .profile {
        width: 100%;
        padding: 30px;
        background-color: $color-white;
        margin-top: 10px;
        @include query(768) {
            margin-top: 0;
            padding: 100px 100px;
        }
        @include query(1200) {
            margin-top: 0;
            padding: 100px 150px;
        }
        &-image {
            margin: 0 auto;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            margin-bottom: 30px;
        }
        &-name {
            text-align: center;
            font-weight: bold;
            font-size: 1.4rem;
            margin-bottom: 30px;
        }
        &-discription {
            line-height: 1.8;
        }
    }
    .writer-dtl {
        margin-top: 10px;

        .snsicons {
            padding-top: 20px;
            width: 70px;
            margin: 0 auto;
            &-wrapper {
                @include query(768) {
                    height: 30px;
                }
            }
        }
    }
    .feed {
      @include query(768) {
          width: 60%;
          margin-right: 12px;
          float: left;
      }
        @include query(1200) {
            width: 702px;
            margin-right: 18px;
            float: left;
        }
    }
    .media {
      @include query(768) {
          width: 49%;
          float: left;
          &:not(:nth-of-type(2n)){
              margin-right: 2%;
          }
      }
        @include query(1200) {
            width: 342px;
            float: left;
            &:not(:nth-of-type(2n)){
                margin-right: 18px;
            }
        }
    }
    .ranking-wrapper {
      @include query(768) {
          width: 37%;
          margin-right: 0;
          margin-left: auto;
      }
        @include query(1200) {
            width: 342px;
            margin-right: 0;
            margin-left: auto;
        }
        @extend %clearfix;
    }
    .career {
        .card-A-heading {
            padding-bottom: 20px;
        }
        &-box {
            position: relative;
        }
        &-item {
            margin-bottom: 15px;
            @extend %clearfix;
            ul {
                padding-top: 0;
            }
            li {
                margin-bottom: 10px;
                display: block;
            }
        }


        &-line {
            position: absolute;
            width: 30%;
            height: 90%;
            transform: translateY(2px);
            border-right: 1px solid $color-black;
        }
        &-dot {
            position: absolute;
            left: 30%;
            transform: translate(-50%, 2px);
            display: inline-block;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background-color: $color-accent;
        }
        &-year {
            position: absolute;
            text-align: right;
            left: 10%;
            display: inline-block;
        }
        &-artist {
            width: 60%;
            float: right;
        }

    }
}
