.card-A {
    padding: 20px;
    background-color: $color-white;
    &-icon {
        width: 20px;
        height: 20px;
        background-image: url("../images/icon-heading.svg");
        background-position: center;
        display: inline-block;
        margin-right: 10px;
        background-color: $color-white;
    }
    &-heading {
        font-size: 1.4rem;
        line-height: 20px;
        vertical-align: top;
        font-weight: bold;
        display: inline-block;
    }
    ul {
        padding: 20px 0 0;

    }
    li {
        display: inline-block;
    }
}
